<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seem.android.mockup1" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="com.seem.android.mockup1.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.seem.android.mockup1.permission.C2D_MESSAGE" />

    <uses-sdk android:minSdkVersion="14" />

    <application
        android:name="com.seem.android.mockup1.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/seem_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".service.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.seem.android" />
            </intent-filter>
        </receiver>
        <service android:name=".service.gcm.GcmIntentService" />


        <activity
            android:name="com.seem.android.mockup1.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.seem.android.mockup1.activities.ItemActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.seem.android.mockup1.activities.ReplyFlowActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.seem.android.mockup1.activities.CreateSeemFlowActivity"
            android:label="Create Seem"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.seem.android.mockup1.activities.ItemsFullScreenActivity"
            android:label="FullScreen" >
        </activity>
        <activity
            android:name="com.seem.android.mockup1.activities.ThreadedViewActivity"
            android:label="Thread View"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent">
        </activity>
        <activity
            android:name=".activities.UserProfileActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_user_profile" >
        </activity>
    </application>

</manifest>
